Thirdparty/
build*/
.vscode/
Vocabulary/ORBvoc.bin
!Thirdparty/DBoW2/lib/libDBoW2.so
Examples/ROS/ORB_SLAM2/build
!Thirdparty/g2o/lib/libg2o.so
lib/libFisheyeStereoSETF.so
Examples/ROS/ORB_SLAM2/launch/rostopic_stereo_tf.launch
Examples/ROS/ORB_SLAM2/config/stereo_robot.yaml
Examples/ROS/ORB_SLAM2/config/stereo_robot_KB.yaml
Examples/ROS/ORB_SLAM2/rostopic_stereo_tf
